[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
peewee = "*"
requests = "*"
flask-wtf = "*"
wtfpeewee = "*"
wtf-peewee = "*"
flask-login = "*"
forms = "*"
form = "*"
sqlite3 = "*"
feedparser = "*"
numpy = "*"

[requires]
python_version = "3.8"
