body
{
    height: 100%;
    margin: 0;
    margin-top: 45px;
    background: url('../python.jpg') fixed;
    background-size: cover;
}

h2
{
    margin-top: 20px;
    margin-left: 35px;
    font-size: 28px;
    color: white;
    font-family: Geneva, sans-serif;
}

#navbar 
{
    background-color:  #9b551d ;
    height: 45px;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    line-height: 45px;
    font-family: Geneva, sans-serif;
    color: white;
    display: flex;
}
#navbar .element {
    display: inline-block;
}

#navbar span {
    margin-left: 15px;
    font-size: 20px;
}

#navbar a {
    text-decoration: none; 
    font-size: 16px;
    color: white;
    background-color: #7e4211;
    padding: 3px 7px; 
    border-radius: 3px;
    margin-left: 10px;
    line-height: 20px;
}

#navbar .flashes {
    font-size: 16px;
    color: white;
    line-height: 20px;
    white-space: nowrap;
    padding: 10px 5px;
    white-space: nowrap;
}
#navbar .flashes div {
    white-space: nowrap;
}

#container {
    background-color: rgb(202, 202, 202);
    font-family: Geneva, sans-serif;
    padding: 25px;
    width: 30%;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    box-shadow: 0px 10px 15px 0px black;
}

#container-all-feed {
    display: flex;
}
.element1 {
    display: inline-block;
    width: 60%;
}
.element2 {
    display: inline-block;
    width: 30%;
}

#container-feed {
    background-color: rgb(202, 202, 202);
    font-family: Geneva, sans-serif;
    padding: 15px;
    width: 95%;
    margin: 10px 20px;
    text-align: center;
    box-shadow: 0px 10px 15px 0px black;
}

#feed {
    background-color: rgb(202, 202, 202);
    font-family: Geneva, sans-serif;
    padding: 15px;
    text-align: center;
    box-shadow: 0px 10px 15px 0px black;
    margin-bottom: 10px;
}

button {
    border-style: hidden;
    border-radius: 2px;
    color: white;
    background-color: #9b551d;
    padding: 8px 20px;
    transition-duration: 0.6s;
}
button:hover {
    background-color: #7e4211;
    transition-duration: 0.6s;
}